DISCORD_CLIENT_ID=1539278395484016670

DISCORD_CLIENT_SECRET=LRufIBjediUu0e9V7zEX2PNodc34lx_y

DISCORD_REDIRECT_URI=http://localhost:3000/auth/discord/callback

SESSION_SECRET=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET

PORT=3000
